<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>You are now viewing a baked good</title>
</head>
<body>
<h1> <%= baked.name %> </h1>

<ul>
	<li><%= baked.size%></li>
	<li><%= baked.region%></li>
	<li>Frost? <%= baked.frosted %></li>
</ul>
<br>
<a href="/baked/<%= baked.id %>/edit">edit this baked good</a>
<br>
<br>
<footer>
	<a href="/baked">return to baked index</a> <br>
	<a href="/">return to root index</a>
</footer>

</body>
</html>